<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/404.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    
    <header
      class="page-container page-container-responsive space-top-4 offset-2 mb-3"
    >
      <a href="/"
        ><i class="fa-solid fa-compass"></i>
        <!--  class="icon icon-airbnb link-icon h2" -->
        <span class="page-404-title">Wanderlust</span>
      </a>
    </header>
    <div class="page-container offset-2">
      <div class="row align-items-center page-404">
        <div class="col-md-6">
          <h1 class="text-jumbo text-ginormous">Oops!</h1>
          <h2 class="page-404-description">
            We can't seem to find the page you're looking for.
          </h2>
          <h6 class="page-404-errorcode">Error code: 404</h6>
          <ul class="list-unstyled">
            <li>Here are some helpful links instead:</li>
            <li><a style="color: #008489" href="/">Home</a></li>
            <li><a style="color: #008489" href="/listings">Listings</a></li>
            <li><a style="color: #008489" href="/listings/new">Create New List</a></li>
            <li>
              <a
                style="color: #008489"
                href="/help/getting-started/how-to-travel"
                >Traveling on Wanderlust</a
              >
            </li>
            <li>
              <a style="color: #008489" href="/info/why_host"
                >Hosting on Wanderlust</a
              >
            </li>
            <li>
              <a style="color: #008489" href="/trust">Trust &amp; Safety</a>
            </li>
            <li><a style="color: #008489" href="/sitemaps">Sitemap</a></li>
          </ul>
        </div>

        <div class="col-md-6 text-center">
          <img
            src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif"
            width="313"
            height="428"
            alt="Girl has dropped her ice cream."
          />
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
